<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>

<h1>Users:</h1>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

    </thead>
  <tbody>
      <tr th:each="user : ${users}">
          <td th:text="${user.id}">1</td>
          <td th:text="${user.name}">John Doe</td>
      </tr>
  </tbody>
</table>
<a th:href="@{/user/create}" href="userList.html">New User</a>

</body>
</html>